<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PsyBear Secure Vault</title>

</head>    

<body>

    <header>

       <img src="{{ url_for('static', filename='psybear-black-hoody.png') }}"
     alt="PsyBear Security Logo"
     style="display: block; margin: 20px auto; width: 250px;">
    
             

    <h1>PsyBear Secure Vault</h1>

    <p> My Secure Vault for PsyBear and CA1.</p>

    </header>

    <p>
        <a href="/register">Register</a>
    </p>

    <p>
        <a href="/login">Login</a>
    </p>
    
</body> 
<style>
    body {
        text-align: center;
    }
</style>

</html>
    

